<div style="text-align:center">
<h2>Generate your Github Resume</h2>
<div id="genResume">
    <input type="text" ng-model="gUsername" placeholder="Enter your GitHub username and click Generate button" autofocus>
    <a href="#resume/{{gUsername}}" class="btn btn-danger"> Generate Resume </a>
</div>
<div style="text-align:left;">
<h4>About the service</h4>
Using this service you can generate a quick resume about your projects/repos stored into your Github account. Github is a very used service from developers and common usage is to increase their teams productivity by working on the same project with their coworkers in an easy way or just sharing their open source projects. This service also speeds up and gives a quick overview about a Github user and it serves as portfolio for candidates who are looking for a job and they can provide this resume when they apply for a job.
</div>
</div>